#header, #banner, #service, #about_us, #your_price,
#how_work, #happy_clients, #newsletter, #map, #footer, #copyright {
    width: 70vw;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 8px;
}
a, a:visited {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: #ffc155;
    text-transform: uppercase;
}
a:hover {
    text-decoration: none;
}

#header {
    height: 93px;
}
#header .logo {
    padding-top: 22px;
}
#header .menu {
    float: right;
    margin-top: -29px;
}
#header a {
    color: #868686;
    padding: 0 15px;
    background-color: #fff; 
}
#header a:visited {
    color: #868686;
    padding: 0 15px;
    background-color: #fff; 
}
#header a:hover {
    color: #fff;
    padding: 15px;
    background-color: #ffc155;
}

#banner {
    height: 589px;
    background-color: #709dca;
    text-align: center;     
}
#banner .banner_text {
    padding-top: 110px;
    padding-bottom: 34px;
    color: #fff;
}
#banner input {
    height: 46px;
    width: 16vw;
    background-color: #fff;
    border: none;
}
#banner input[type="submit"] {
    background-color: #ffc155;
    color: #fff;
}
#banner input#peop {
    background-image: url(../images/peop.png);
}
#banner input#mail {
    background-image: url(../images/mail.png);
}
#banner input#tel {
    background-image: url(../images/tel.png);
}
#banner input:not([type="submit"]) {
    background-position: 1vw center;
    background-repeat: no-repeat;
    padding-left: 3vw;
}
#banner .slider {
    position: relative;
    top: 65px;
}

#service {
    height: 923px;
    color: #394b50;
}
#service .service_heading {
    padding-top: 202px;
    padding-bottom: 92px;    
    text-align: center;
}
#service .big_service_1 {
    text-transform: uppercase;
    font-weight: bold;
}
#service .small_service_1 {
    font-size: 13px;
    padding-top: 30px;
    line-height: 22px;
}
#service .service_1 {
    float: left;
    background-image: url(../images/service_1.png);
    height: 200px;
    background-position-x: 8px;
}
#service .service_2 {
    float: right;
    background-image: url(../images/service_2.png);
    height: 200px;
    background-position-x: 7px;
}
#service .service_3 {
    float: left;
    background-image: url(../images/service_3.png);
    height: 200px;
}
#service .service_4 {
    float: right;
    background-image: url(../images/service_4.png);
    height: 200px;
    background-position-x: 6px;
}
#service .service_5 {
    float: left;
    background-image: url(../images/service_5.png);
    background-position-x: 7px;
}
#service .service_6 {
    float: right;
    background-image: url(../images/service_6.png);
    background-position-x: 15px;
}
.service_6, .service_5, .service_4, .service_3, .service_2, .service_1 {
    width: 27vw;
    background-repeat: no-repeat;
    padding-left: 80px;
}

#about_us {
    background-color: #ffc155;
    color: #fff;
    padding-left: 0;
    width: 85vw;
    height: 35vw;
}
#about_us img {
    width: 50vw;
    float: left;
}
#about_us .text_about {
    float: right;
    width: 30vw;
    padding-top: 100px;
}
#about_us .small_about {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 35px;
}
#about_us a, #about_us a:visited {
    border-style: solid;
    border-color: #e7ad48;
    border-width: 1px;
}

#your_price {
    height: 898px;
    background-color: #e7edf3;
    text-align: center;  
}
#your_price .pricing_heading {
    color: #394b50;
    padding-top: 138px;
    padding-bottom: 81px;
}
#your_price > div:not(.pricing_heading) {
    height: 385px;
    width: 20vw;
    background-color: #fff;
    text-transform: uppercase;
    padding: 55px 1vw 0 1vw;
    color: #818b95;
}
#your_price > div:not(.pricing_heading):hover {
    height: 445px;
    width: 22vw;
    background-color: #709dca;
    text-transform: uppercase;
    color: #fff;
}
#your_price .big_plan {
    font-size: 25px;
    margin-bottom: 20px;
}
#your_price .small_plan {
    color: #ffbb42;
    font-size: 60px;
    font-weight: bold;
}
sup {
    font-size: 30px;
    vertical-align: super;
}
#your_price .plan_3 {
    font-size: 20px;
    margin-bottom: 33px;
    margin-top: 12px;
}
#your_price .plan_4 {
    font-size: 13.5px;
    line-height: 30px;
    color: #b5bbc1;
}
hr {
    background-color: #b5bbc1;
    color: #b5bbc1;
    height: 1px;
    border: none;
}
#your_price .basic_plan {
    float: left;
    margin-right: 2vw;
}
#your_price .basic_plan:hover {
    margin-right: 0;
}
#your_price .premium_plan {
    float: left;
}
#your_price .premium_plan:hover {
    margin-left: -1vw;
}
#your_price .gold_plan {
    float: right;
}
#your_price .gold_plan:hover, .premium_plan:hover, .basic_plan:hover {
    margin-top: -30px;
}
#your_price .premium_plan:hover .small_plan, #your_price .basic_plan:hover .small_plan, #your_price .gold_plan:hover .small_plan {
    color: #fff;
}
#your_price .gold_plan:hover .plan_4, #your_price .premium_plan:hover .plan_4, #your_price .basic_plan:hover .plan_4 {
    color: #c2e1ff;
}
#your_price .gold_plan:hover hr, #your_price .premium_plan:hover hr, #your_price .basic_plan:hover hr {
    color: #c2e1ff;
    background-color: #c2e1ff;
}
#your_price .plan_5 {
    margin-bottom: 30px;
}

#how_work {
    height: 858px;
    background-color: #fff;
    text-align: center;
    color: #394b50;
}
.step1, .step2, .step3, .step4 {
    width: 13vw;
}
#how_work .header_work {
    padding-top: 155px;
    padding-bottom: 69px;
}
#how_work .step_work_1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#how_work .step_work_2 {
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
}
#how_work .step1 {
    float: left;
    background-image: url(../images/step_1.png);
}
#how_work .step12 {
    background-image: url(../images/line.png);
    margin-top: 25px;
}
#how_work .step2 {
    float: left;
    background-image: url(../images/step_2.png);
    margin-left: -1.6vw;
}
#how_work .step23 {
    background-image: url(../images/line.png);
    margin-top: 125px;
    transform: rotate(180deg);
}
#how_work .step3 {
    float: left;
    background-image: url(../images/step_3.png);
    margin-left: -1.6vw;
}
#how_work .step34 {
    background-image: url(../images/line.png);
    margin-top: 25px;
}
#how_work .step4 {
    float: left;
    background-image: url(../images/step_4.png);
    margin-left: -1.6vw;
}
.step1, .step2, .step3, .step4 {
    background-repeat: no-repeat;
    background-position: center 50px;
    padding-top: 210px;
}
.step12, .step23, .step34 {
    width: 9vw;
    height: 2.25vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: -1.6vw;
}
#how_work .ss {
    clear: both;
    margin-top: 463px;
}

#happy_clients {
    height: 908px;
    background-color: #ffc155;
}
#happy_clients .header_client {
    padding-top: 141px;
    padding-bottom: 57px;
    color: #fff;
    text-align: center;
}
#happy_clients > div:not(.header_client) {
    height: 240px;
    width: 33vw;
    background-color: #fff;
}
#happy_clients .testimonial_1 {
    float: left;
    margin-bottom: 40px;
    background-image: url(../images/testimonial_1.png);
}
#happy_clients .testimonial_2 {
    float: right;
    margin-bottom: 40px;
    background-image: url(../images/testimonial_2.png);
}
#happy_clients .testimonial_3 {
    float: left;
    background-image: url(../images/testimonial_3.png);
}
#happy_clients .testimonial_4 {
    float: right;
    background-image: url(../images/testimonial_4.png);
}
.testimonial_1, .testimonial_2, .testimonial_3, .testimonial_4 {
    background-repeat: no-repeat;
    background-position: 1.5vw 43px;
    background-size: 9vw;
}
#happy_clients blockquote {
    padding-top: 43px;
    padding-left: 12vw;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    padding-right: 2vw;
}
#happy_clients .testimonial_footer {
    color: #f6772c;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 28px;
    margin-left: 12vw;
}
#happy_clients .testimonial_footer > span {
    color: #99a9ae;
}

#newsletter {
    height: 339px;
    width: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
}
#newsletter .header_work {
    text-align: center;
    color: #394b50;
    margin-bottom: 40px;
    padding-top: 154px;
}
#newsletter input {
    height: 46px;
    width: 16vw;
    background-color: #fff;
}
#newsletter input[type="email"] {
    width: 22vw;
}
#newsletter input[type="submit"] {
    background-color: #ffc155;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
#newsletter input#peop {
    background-image: url(../images/peop.png);
}
#newsletter input#mail {
    background-image: url(../images/mail.png);
}
#newsletter input:not([type="submit"]) {
    background-position: 1vw center;
    background-repeat: no-repeat;
    padding-left: 3vw;
    border-style: solid;
    border-width: 1px;
    border-color: #cbcbcb;
}

#map{
    height: 35vw;
}
#map .back_map {
    width: 70vw;
    height: 35vw; 
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#map .adress {
    width: 16vw;
    height: 16.2vw;
    font-size: 13px;
    line-height: 24px;
    color: #aeb7ba;
    margin: auto;
    text-align: center;
    position: relative;
    top: 3vw;
    background-image: url(../images/adress.png);
    background-size: 16vw 16.2vw;
}
#map .adress span {
    color: #ffbb42;
}
#map .adress_1 {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    padding-top: 2vw;
    padding-bottom: .5vw;
}
#map .logo {
    position: relative;
    top: 4vw;
}

#footer {
    height: 266px;
    text-align: center;
}
#footer .menu {
    padding-top: 120px;
    font-size: 15px;
}
#footer a {
    color: #394b50;
    padding: 0 15px;
    background-color: #fff; 
}
#footer a:visited {
    color: #394b50;
    padding: 0 15px;
    background-color: #fff; 
}
#footer a:hover {
    color: #fff;
    padding: 15px;
    background-color: #ffc155;
}
#footer .tel {
    color: #394b50;
    font-size: 22px;
    margin-top: 29px;
    margin-bottom: 22px;
}
#footer .zn img {
    height: 16px;
}
#footer .zn img[alt=socseti2] {
    padding-left: 22px;
}
#footer .zn img[alt=socseti3] {
    padding-left: 20px;
}
#footer .zn img[alt=socseti4] {
    padding-left: 16px;
}

#copyright {
    height: 30px;
    background-color: #709dca;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}